---
import type { ProjectDTO } from "@/shared/ProjectDTO";

interface Props {
  projectData: ProjectDTO;
}

const { projectData } = Astro.props;
---

<!-- Image Container -->
<div class="w-full md:w-1/4 p-2">
  <img
    src={projectData.imageUrl}
    alt={projectData.title}
    class="max-w-full max-h-[500px] object-contain rounded"
    style={{ maxHeight: "500px" }}
  />
</div>

<!-- Description Container -->
<div
  class="w-full md:w-3/4 text-left pl-4 pr-4 md:pl-12 md:pr-24 lg:pl-24 lg:pr-36 text-gray-500"
>
  <p class="mt-2 text-sm md:text-base">
    {projectData.description}
  </p>

  <ul class="pt-4 list-disc pl-4 md:pl-12 space-y-2">
    <li>
      <span class="font-bold">Completed:</span>
      {projectData.dates}
    </li>
    <li><span class="font-bold">Tools:</span> {projectData.tools}</li>
    {
      projectData.extraLinks?.map((link) => (
        <li>
          <span class="font-bold">{link.title}:</span>
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-blue-500 hover:underline"
          >
            {link.url}
          </a>
        </li>
      ))
    }
  </ul>
</div>
